body{
    background-image: url("https://live.staticflickr.com/6043/6318961240_43bea40f95_b.jpg");
    background-size: cover;
    background-position-y:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.exercise{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.731);
    border: 5px ridge rgb(0, 0, 0);
    width: 90%;
    height: 95%;
}

.table{
    display: flex;
    flex-direction: row;
}

.table div{
    border: 5px dashed black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.True{
    width: 50%;
    padding: 1%;
}

.True1{
    width: 50%;
}

.True h1{
    font-size: 150%;
}

.False{
    width: 50%;
    padding: 1%;
}

.False1{
    width: 50%;
}

.False h1{
    font-size: 150%;
}

.name{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 5px dashed black;
    background-color: rgb(100, 100, 100);
    width: 99.5%;
}

#check{
    width: 20%;
    height: 40%;
    margin-left: 2%;
    font-size: 80%;
    background-color: rgb(159, 159, 159);
    border: 5px ridge rgb(0, 0, 0);
    transition: 200ms;
}

#check:hover{
    background-color: rgb(200, 200, 200);
    border: 5px dashed rgb(97, 97, 97);
    cursor: pointer;
}

.name form button{
    width: 100%;
    height: 100%;
    font-size: 80%;
    background-color: rgb(159, 159, 159);
    border: 5px ridge rgb(0, 0, 0);
    transition: 200ms;
}

.name form{
    width: 20%;
    height: 30%;
    margin-left: 2%;
}

.name button:hover{
    background-color: rgb(200, 200, 200);
    border: 5px dashed rgb(97, 97, 97);
    cursor: pointer;
}

.menu p{
    font-size: 150%;
    margin: 0;
}

#offerDiv{
    width: 50%;
    height: 50%;
}

#offerDiv h1{
    cursor: pointer;
    font-size: 130%;
}

.offers{
    font-size: 150%;
    margin: 2%;
}